<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
    {% load static compress %}
    {% compress css %}
        <link rel="stylesheet" href="{% static 'registration/styles/index.less' %}" type="text/less">
    {% endcompress %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="auth-wrapper">
        {% block content %}{% endblock %}
    </div>
</body>
</html>