<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'registration/index.html' %}
    <title>Title</title>
</head>
<body>
    {% block content %}
        <div class="auth-container">
            <h2>Login form</h2>
            <form action="{% url 'login' %}?next={{ next }}" method="post" class="auth-container__form">
            {% csrf_token %}
            <div class="error">
                {{ form.non_field_errors }}
            </div>

                {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                {% endfor %}

                <table class="form__fields">
                {% for field in form.visible_fields %}
                    <tr>
                        <th>
                            {{ field.label_tag }}
                        </th>
                        <td>
                            {{ field.errors }}
                            {{ field }}
                            {{ field.help_text }}
                        </td>
                    </tr>
                {% endfor %}
                </table>
                <input
                    type="hidden"
                    name="next"
                    value="{{ next }}"
                >
                <div class="text-align-r">
                    <input type="submit" value="Login" class="waves-effect waves-light btn">
                </div>
            </form>
            <div class="auth-container__nav">
                Don't have  an account yet?
                <a href="{% url 'register' %}" class="text-dec-n">Register one.</a>
            </div>
        </div>
    {% endblock %}
</body>
</html>