<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% extends 'store/base.html' %}
    <title>Title</title>
</head>
<body>
    {% block content %}
    <form
        action="{% url 'store:order_deletion' order.id %}?success_url={{ request.GET.next }}"
        method="post"
        class="order-deletion__form"
    >
        {% csrf_token %}
        <p>Are you sure you want to decline order?</p>
        <button
            type="submit"
            class="btn waves-effect waves-light"
        >
            Decline order
        </button>
    </form>
    {% endblock %}
</body>
</html>